// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');


li {
  background-color: darkblue;
  padding: 0 20px;
  color:white;
  box-shadow: 15px;
}

.content {
  margin: auto;
}


ul {
  font-size: 24px;
  font-family: 'Share Tech Mono', monospace;
}

